{% extends 'base.html' %}
{% block content %}

<div class="col-md-10 offset-md-1">
    <h1>Register</h1>

    <form method="POST" action="{% url 'register_user' %}">
        {% csrf_token %}

        {% if form.errors %}

    <div class="alert alert-warning alert-dismissible fade show" role="alert">Your Form Has Errors
        {% for field in form %}
        {% if field.errors %}
        {{ field.errors }}
        {% endif %}

        {% endfor %}

        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">

        </button>
    </div>

{% endif %}

        {{ form.as_p }}
        <div class="d-grid gap-2 col-6 mx-auto">
        <button type="submit" class="btn btn-secondary">Register</button>
        </div>
    </form>
</div><br/><br/>

{% endblock %}
